Package: com.uroboro.flipnc
Name: FlipNC
Depends: firmware (>= 5.0), firmware (<< 7.0), com.saurik.substrate.safemode, com.chpwn.weeloader, com.a3tweaks.flipswitch (>= 1.0.3), org.thebigboss.customwidgeticons, com.arichardson.weepreferenceloader
Version: 0.0.2
Architecture: iphoneos-arm
Description: FlipNC brings your FlipSwitch toggles to your notification center.
Maintainer: uroboro <uroboro.845@gmail.com>
Author: uroboro <uroboro.845@gmail.com>
Section: Addons (NotificationCenter)
